body{
	font-family: Verdana, Helvetica, Arial, "Times New Roman";
	margin-block-start: 0.1em;
	margin-block-end: 0.1em;
	margin-inline-start: 0.3em;
	margin-inline-end: 0.2em;
}

img, video, canvas {
  max-width: 100%;
}


table td{
    width: 350px;
    height: 50px;
    text-align: justify;
}

#mapa{
align-content: center;
    text-align: center;
}

#marcoM{
background-color: lightgreen;
width: 98%;  
color: black;    

}

#Log{
align-content: center;
border: 6px;
border-bottom-color: chartreuse;    
}

header {
    width: 100%;
	padding-top: 0.05em;
	height: 20%;
	color:rgb(10, 150, 20);
	font-weight:bold;
	font-size: large;
	background-color: greenyellow;
	text-transform: capitalize;
	text-shadow: 0.2em 0.2em 0.5em gold; /*sombra horizontal y sombra vertical*/
}

figure.logo{
	display: inline;
	width:50px;
	height:70px;
}

img.logo{
	width:150px;
	height:90px;
}


footer{
	width: 99%;
	height: 35%;
	font-size: 75%;
	padding: 0.625em 0.9em 1.4em;
	background-color:limegreen;
	text-align: center;
	min-height: 2em;
	float: left;
    color: black;
}

#titPral{
	display: inline;
	vertical-align:90%;
}

/* Para ajuste responsivo*/
@media screen and (max-width: 600px){
	header {
		height: auto;
	}


}
